* {
    margin: 0;
    padding: 0;
    outline: solid red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('img/descarga\ \(2\).png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.contenedor {
    display: flex;
    height: 100vh;
}

.nav {
    background-color:#cb8d96;
    color: white;
    min-width: 200px;
    flex: 1;
    max-width: 300px;
    padding: 20px;
    opacity: 0.8;
}

.nav h2 {
    margin-bottom: 20px;
}

.nav ul {
    list-style: none;
}

.nav li {
    margin: 10px;
    margin-bottom: 17vh;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 5vh;
}

.nav a:hover {
    color: #ffd54f;
    transition: 0.3s;
}

.principal {
    flex: 4;
    padding: 30px;
}

h1{
    color: white;
    margin-bottom: 4vh;
}

.sinopsis{
    font-size:larger;
    color: black;   
}

.sinopBox{
    background-color: #f0b0dc;
    opacity: 0.7;
}
